@page "/"

<PageTitle>Moogle!</PageTitle>

<h1 class="moogle-title">Moogle!</h1>
<h2 class="moogle-slogan">a simple and light search engine</h2>

<input class="p-1 my-4" @bind="query" placeholder="Introduzca su búsqueda">

<button type="default" class="btn btn-gradient" @onclick="RunQuery">🔍 Buscar</button>

@if (!string.IsNullOrEmpty(result.Suggestion))
{
    <div class="suggestion">
    @if (result.Suggestion == Moogle.INVALID_QUERY)
        {
            <p class="moogle-info">🧐 <strong>@result.Suggestion</strong></p>
        }
        else
        {
            <p class="moogle-info">🤔 ¿Quisite decir <strong><a href="#">@result.Suggestion</a></strong>?</p>
        }
    </div>
}

<ol class="results">
    @foreach (var item in result.Items())
    {
        <li class="moogle-info">
            <div class="item">
                <p class="title snippet-title-box"> @item.Title </p>
                <p class="snippet-box">.
                    ... @item.Snippet ...
                </p>
            </div>
        </li>
    }
</ol>

@code {
    private bool moogleStarted = Moogle.MOOGLE_LOADING;

    private string query = "";
    private SearchResult result = new SearchResult();

    private void RunQuery()
    {
        result = Moogle.Query(query);
    }
}
